@charset "utf-8";

html, body  {background:none;}
.contents {float:none; width:auto; padding:0; background: #fff;}
.error-wrap {width:300px; min-width:530px; margin:70px auto; padding:90px 0 0 30px; background: url('../images/bg_error.png') no-repeat 50% 0; font-size:13px;}
.error-wrap strong {color:#111; font-size:30px; font-weight:normal;}
.error-wrap em {color:#e00018;}
.error-wrap .btn-wrap {margin:25px 0 0 -30px; padding-top:25px; border-top:1px solid #dedede; text-align:center;}

