<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.poscoict.card.batch.mapper.BatchMapper">

	<select id="selectPushTargetUserList" resultType="kr.co.poscoict.card.common.model.User">
		/* BatchMapper.selectPushTargetUserList 정산대상자 조회 */
		SELECT
	        EMP_ID
	      , EMPCD
	      , HNAME
	      , EMAIL
	      , JIKCK
	      , JIKGB
	      , DPTCD
	      , DPTNM
	      , PRE_DPTCD
	      , PRE_DPTNM
	      , SUPER_EMPCD
	      , SUPER_HNAME
	      , SUPER_EMAIL
	      , COST_CENTER
	      , COST_CENTER_NAME
	      , USER_ID
	    FROM MOBILE_EMP_V V
	    WHERE EXISTS (
	 				SELECT ECAL.EMPLOYEE_NUMBER
					  FROM EXAP_CARD_APPROVAL_LIST	ECAL
					 WHERE ECAL.USER_CHECK_FLAG = 'N'
					   AND NVL(ECAL.TRANSFER_FLAG, 'N') NOT IN ('Y', 'C')
					   AND ECAL.TRANSDATE >= TO_CHAR(ADD_MONTHS(SYSDATE, -2), 'YYYY-MM-DD')
					   AND NVL(ECAL.CURRCODE, 'USD') = 'KRW'
					   AND ECAL.CLASS1 = 'A'
					   AND ECAL.EMPLOYEE_NUMBER = V.EMPCD
	 			   ) 
	</select>
	
</mapper>